.usersDataStyle {
  text-align: center;
  color: #333;
  background-color: #e4dfdf;
  padding: 8px 0;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

table th, td { 
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.btnStyleBlue { 
  margin-right: 5px;
  background: #007bff; 
  color: white;
  padding: 5px 10px; 
  border-radius: 5px; 
  border: none;
  text-decoration: none;
}

.btnStyleRed { 
  background: red;
  color: white; 
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.btnStyleGreen { 
  padding: 8px 12px; 
  background: green; 
  color: white; 
  border-radius: 5px;
  text-decoration: none;
}
